*{
    box-sizing: border-box; 
}

body{
    background: #010202;
    font-family: 'Source Sans Pro', sans-serif;
}

.header{
    max-width: 1146px;

    margin: 0 auto;
    padding: 56px 0px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: block;
}

.user-photo{
    height: 41px;
    width: 40px;
    border-radius: 50%;
}

.login{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-name{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;

    margin-right: 15px;
}

.app{
    background: linear-gradient(90deg, #010202 -2.88%, rgba(1, 2, 2, 0.2) 44.9%), url(/assets/img/cover-image.jpg) no-repeat top right;
    min-height: 100vh;
    color: white;
}

.film{
    width: 90%;
    max-width: 1146px;
    margin: auto;
    padding-top: 8%;
}
.description{
    max-width: 460px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 140%;
    /* or 29px */
    color: #FFFFFF
}

.tags{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
}

.tags > *{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */


    color: #E5E5E5;

    opacity: 0.4;
    margin-right: 15px;
}

.age {
    opacity: 0.5;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 1px 6px;
}

.button{
    padding: 10px 25px;
    border-radius: 6px;
    border: none;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    background-color: #2F2F2F;
    cursor: pointer;
/* or 22px */

color: #FFFFFF;

}

.button-default{
}

.button-primary{
    background: #EA6E20;
    margin-right: 15px;
}

.btn-text{
    margin-left: 10px;
    vertical-align: text-bottom;
}